{% extends "base.html" %}
{% block title %}Об авторе проекта{% endblock %}
{% block content %}
<h1>Привет! Я Света, автор сайта</h1>
<p></p>
<p>Мне не помогают в учебе собаки, кошки, хомячки, у меня нет домашних животных.</p> 
<p>Возможно, именно поэтому обучение дается мне не просто!</p>

<p>Все, что я уже умею делать, вы можете найти в моем аккаунте на <a href='https://github.com/jisdtn'> Github </a></p>
<p>Связаться со мной можно в <a href='https://www.linkedin.com/in/svetlana-ryabova-7aab7a232'> Linkedin.</a> До встречи!</p>
{% endblock %}